/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'font-awesome';
@import 'variables';

// nav {
//   margin-top: 16px;
// }

nav a {
  background-color: $nav-button-color;
  font-size: 16px;
  color: white;
  padding: 10px 18px;
  margin: 3px;
  vertical-align: middle;
  line-height: 1.55;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}