<div [hidden]="!currentUser.token">
    <nav>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Index
      </a>
        <a [routerLink]=" ['./home'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
        <a [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Barrel
      </a>
        <a [routerLink]=" ['./vladi'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Vladi
      </a>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<div [hidden]="currentUser.token">
    <login></login>
</div>