<div [hidden]="!currentUser.token">
    <nav>       
        <a [routerLink]=" ['./barrel'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Barrel
      </a>
      <a [routerLink]=" ['./admin'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Admin
      </a>
        <a [routerLink]=" ['./vladi'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Vladi
      </a>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<div [hidden]="currentUser.token">
    <login></login>
</div>