
@keyframes expand {
    from {max-width:0;}
    to {max-width:500px;}
}

div.container {
    position: absolute;
    height: 100%;
    max-width:0; 
    overflow-x: scroll;
    top: 0;
    float:initial;
    right: 0;
    background-color: #eeeeee;      
    display: none;
}

div.container.shown{   
    animation-name: expand;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    display: block;    
}
